/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.promo {
  height: 100vh;
  background: url('../../assets/images/signup-bg.png') no-repeat;
  background-size: cover;

  &-col {
    text-align: center;

    p {
      text-align: left;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      text-transform: uppercase;

      a {
        color: #3D3D3D;
      }
    }
  }
}

.form {
  h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #3D3D3D;
  }
}

.btn-register, .btn-login {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

input {
    padding: .5rem;
    font-size: 16px;
    width: 100%;
    display: block;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input:focus {
    border-color: #007eff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
    outline: none;
}

input.error {
    border-color: red;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: .5rem;
}

.input-feedback {
    color: red;
    margin-top: .25rem;
}


// ResetPassword
.reset {
  height: 100vh;
  background: url('../../assets/images/reset-bg.png') no-repeat;
  background-size: contain;

  &-title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #3D3D3D;
  }
}

.active-subject {
  //font-style: normal;
  //font-weight: bold;
  font-size: 18px;
  //box-shadow: 1px 1px 1px 1px;
  color: rgba(42, 98, 255, 0.99);
}

.swiper-slide {
  cursor: pointer;
}

.home {
  height: 100vh;
}
