/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.promo {
  height: 100vh;
  background: url('../../assets/images/signup-bg.png') no-repeat;
  background-size: cover;

  &-col {
    text-align: center;

    p {
      text-align: left;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      text-transform: uppercase;

      a {
        color: #3D3D3D;
      }
    }
  }
}

.form {
  h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #3D3D3D;
  }
}

.btn-register, .btn-login {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: white !important;
}

input {
    padding: .5rem;
    font-size: 16px;
    width: 100%;
    display: block;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input:focus {
    border-color: #007eff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
    outline: none;
}

input.error {
    border-color: red;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: .5rem;
}

.input-feedback {
    color: red;
    margin-top: .25rem;
}


// ResetPassword
.reset {
  height: 100vh;
  background: url('../../assets/images/reset-bg.png') no-repeat;
  background-size: contain;

  &-title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #3D3D3D;
  }
}

.active-subject {
  //font-style: normal;
  //font-weight: bold;
  font-size: 18px;
  //box-shadow: 1px 1px 1px 1px;
  color: rgba(42, 98, 255, 0.99);
}

.swiper-slide {
  cursor: pointer;
}

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  &-block {
    &__img {
      border-radius: 50%;
    }

    &__name {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      color: #F8F8F8;
    }

    &__period {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      color: #FF8080;
    }
  }
}

.menu-block {
  ul {
    li {
      margin: 25px 15px;
      position: relative;

      a {
        display: flex;
        align-items: center;
        justify-content: start;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: #969696;
        transition: all .33s;

        svg {
          margin-right: 15px;
        }

        &:hover {
          color: #F8F8F8;
          text-decoration: none;
        }

        &.active {
          &::after {
            content: '';
            position: absolute;
            //display: block;
            //font-size: 16px;
            right: 0;
            top: 40%;
            margin: 0px 10px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #FF8080;
          }
        }
      }
    }
  }
}

.footer-block {
  p {
    .logout {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      color: #FF8080;
      transition: all .33s;

      &:hover {
        text-decoration: none;
        color: #ff1f1f;
      }
    }
  }

  .close-sidebar {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #DDDDDD;
    cursor: pointer;
  }
}

.pro-sidebar>.pro-sidebar-inner>.pro-sidebar-layout>img.sidebar-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  opacity: .3;
  left: 0;
  top: 0;
  z-index: -1;
}

.card {
  background-color: #fff;
  border: none;
  border-radius: .625rem;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, .1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, .1), 0 0.25rem 0.53125rem rgba(90, 97, 105, .12), 0 0.125rem 0.1875rem rgba(90, 97, 105, .1);
  position: relative;
  transition: all .33s;
  height: 100%;

  &:hover .hover-block {
    opacity: 1;
  }


  .hover-block {
    cursor: pointer;
    position: absolute;
    left: 0;
    text-align: center;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(238, 238, 238, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    transition: all .33s;
    display: flex;

    .pass-test {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      color: #567BF3;
    }

    .delete-subject {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      color: #F3565F;
    }
  }

  img {
    cursor: pointer;


  }


}

.styles_react-code-input__CRulA {
  display: flex;
}

.btn {
  transition: all .33s;
  color: #007eff;

  &:hover {
    color: darkblue;
  }
}

.add {
  transition: linear .33s;
  border-radius: 50%;


  &:hover{
    box-shadow: 0 0 13px 0 #5959bd;
  }
}

.wrap {
  cursor: pointer;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
