/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.btn a {
  color: white !important;
}

.input-group-text {
  background: #fff;
  border: none;
}

.input-group-prepend {
  background: #FFFFFF;
  //box-shadow: 0px 2px 6px rgba(121, 121, 121, 0.5) !important;
  box-shadow: 5px 1px 6px 0px rgba(121, 121, 121, 0.5) !important;
}

.form-control {
  background: #FFFFFF;
  box-shadow: 5px 1px 6px 0px rgba(121, 121, 121, 0.5) !important;

  border-bottom-right-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border: none;
}

.promo {
  height: 100vh;
  background: url('../../assets/images/signup-bg.png') no-repeat;
  background-size: cover;

  &-col {
    text-align: center;

    p {
      text-align: left;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      text-transform: uppercase;

      a {
        color: #3D3D3D;
      }
    }
  }
}

.form {
  h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #3D3D3D;
  }
}

.btn-register, .btn-login, .btn-continue {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: white !important;
}

.btn-register {
  background: linear-gradient(180deg, #2A5FFF 0%, #2A6AFF 100%);
  box-shadow: 0px 2px 6px rgba(61, 61, 61, 0.04);
  border-radius: 10px;
  padding: 15px 80px;
  position: relative;
  overflow: hidden;
  border: none;
  transition: background .33s;

  &::after {
    content: "";
    position: absolute;
    width: 64.94px;
    height: 64.94px;
    top: -30px;
    padding: 20px;
    border: 7px solid rgba(255, 255, 255, 0.99);
    border-radius: 50px;
    box-sizing: border-box;
  }

  &::before {
    content: "";
    position: absolute;
    width: 64.94px;
    height: 64.94px;
    bottom: -40px;
    left: -20px;
    padding: 20px;
    border: 10px solid rgba(255, 255, 255, 0.99);
    border-radius: 50px;
    box-sizing: border-box;
  }

  &:hover {
    background: linear-gradient(180deg, #1a53ff 0%, #1359ff 100%);

  }
}

.btn-register + p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #848A9D;
}

.btn-register + p span {
  display: inline-block;

}

.btn-register + p a {
  display: inline-block;
}

input {
    padding: .5rem;
    font-size: 16px;
    width: 100%;
    display: block;
    border-radius: 4px;
    border: 1px solid #ccc;
}

//input:focus {
//    border-color: #007eff;
//    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
//    0 0 0 3px rgba(0, 126, 255, 0.1);
//    outline: none;
//}

input.error {
    border-color: red;
}

.input-number {
  background: #FFFFFF;
  box-shadow: 5px 1px 6px 0px rgba(121, 121, 121, 0.5) !important;

  border-bottom-right-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: none;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: .5rem;
}

.input-feedback {
    color: red;
    margin-top: .25rem;
}


// ResetPassword
.reset {
  height: 100vh;
  background: url('../../assets/images/reset-bg.png') no-repeat;
  background-size: contain;

  &-title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #3D3D3D;
  }
}

.active-subject {
  //font-style: normal;
  //font-weight: bold;
  font-size: 18px;
  //box-shadow: 1px 1px 1px 1px;
  color: rgba(42, 98, 255, 0.99);
}

.swiper-slide {
  cursor: pointer;
}

.home {
  padding: 50px 0;
}

.profile {
  &-block {
    height: 250px;
    &__img {
      border-radius: 50%;
    }

    &__name {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      color: #F8F8F8;
    }

    &__period {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      color: #FF8080;
    }
  }
}

.menu-block {
  ul {
    li {
      margin: 25px 15px;
      position: relative;

      a {
        display: flex;
        align-items: center;
        justify-content: start;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: #969696;
        transition: all .33s;

        svg {
          margin-right: 15px;
        }

        &:hover {
          color: #F8F8F8;
          text-decoration: none;
        }

        &.active {
          &::after {
            content: '';
            position: absolute;
            //display: block;
            //font-size: 16px;
            right: 0;
            top: 40%;
            margin: 0px 10px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #FF8080;
          }
        }
      }
    }
  }
}

.footer-block {
  p {
    .logout {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      color: #FF8080;
      transition: all .33s;

      &:hover {
        text-decoration: none;
        color: #ff1f1f;
      }
    }
  }


}

.close-sidebar {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #DDDDDD;
  cursor: pointer;
  text-align: center;
}

.sidebar {
  //height: 100vh;
  // position: fixed;
}

.pro-sidebar>.pro-sidebar-inner>.pro-sidebar-layout>img.sidebar-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  opacity: .3;
  left: 0;
  top: 0;
  z-index: -1;
}

.card {
  background-color: #fff;
  border: none;
  border-radius: .625rem;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, .1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, .1), 0 0.25rem 0.53125rem rgba(90, 97, 105, .12), 0 0.125rem 0.1875rem rgba(90, 97, 105, .1);
  position: relative;
  transition: all .33s;
  height: auto;

  &:hover .hover-block {
    opacity: 1;
  }


  .hover-block {
    cursor: pointer;
    position: absolute;
    left: 0;
    text-align: center;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(238, 238, 238, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    transition: all .33s;
    display: flex;

    .pass-test {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      color: #567BF3;
    }

    .delete-subject {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      color: #F3565F;
    }
  }

  img {
    cursor: pointer;


  }


}

.styles_react-code-input__CRulA {
  display: flex;
}

.btn {
  transition: all .33s;
  //color: #007eff;
  //
  //&:hover {
  //  color: darkblue;
  //}
}

.add {
  transition: linear .33s;
  border-radius: 50%;


  &:hover{
    box-shadow: 0 0 13px 0 #5959bd;
  }
}

.wrap {
  cursor: pointer;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subject-cart {
  &:hover {
    text-decoration: none;
  }
}

.subject-name {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: #3D3D3D;

  &:hover {
    text-decoration: none;
  }
}

.btn-verification {
  background:rgba(42, 98, 255, 0.99);
  color: white;
  transition: all .33s;

  &:hover {
    color: white !important;
    background:rgba(0, 68, 255, 0.99)
  }
}

.referal {
  cursor: pointer;
  color: #567BF3;
}

// Test

.test {
  background: url("https://www.leadernetworks.com/wp-content/uploads/2017/04/quiz-background-slider.png") no-repeat;
  background-size: cover;
  height: 100vh;
}

.wrapper {
  &-test {
    background-color: #3d3d3d44;

  }
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  background: rgba(86, 123, 243, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;


  .referal {
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #567BF3;
    //width:1
  }

  .file-preview {
    margin: 0 10px;
  }
}

.btn-add {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #567BF3;
}

.question-input {
  border-bottom: 1px solid #567BF3;
}

 .answers li{
  padding: 10px;
  border-left: 4px solid #FF3B3B;
  background-color: #bbb;
  margin: 0 0 5px;
}
 .answers li:hover{
  cursor: pointer;
  background-color: #a2a2a2;
}
 .answers .correct,
 .answers .correct:hover {
  background-color: #1db900;
  border-left: 4px solid #0f6300;
  color: #fff;
}
 .answers .incorrect,
 .answers .incorrect:hover {
  background-color: #ec0000;
  border-left: 4px solid #FF3B3B;
  color: #fff;
}
[disabled] {
  pointer-events: none;
  opacity: 0.7;
}

.NextStep{
  background-color: #009e00;
  color:#fff;
  padding: 10px 30px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
.NextStep:hover{
  background-color: green;
}
.NextStep[disabled]{
  display: none;
}

.delete {
  cursor: pointer;
}

.variation-block {
  max-height: 100%;
  background: #EEF2FE;
  border-radius: 8px;
  border: 2px dashed #567BF3;
  transition: all .33s;

  &__name {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #567BF3;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.099999999999999999);
  }
}


form.boolean-answer input{
  display: none;
}
form.boolean-answer label{
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-weight: 500;
  font-size: 24px;
  color: #567BF3;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.subject-img {
  filter: drop-shadow(1px 1px 5px #aeaeae);
}

